<div>
    <h5 class="center-align" >Login</h5>
    <div>
      <h5 class="center-align" ></h5>
    </div>

    <div class="input-field"   style="margin-top:7%;" >
      <i class="material-icons prefix">account_circle</i>
      <input id="user_name" type="text" class="validate" [(ngModel)]="localUser.username">
      <label for="user_name">Username</label>
    </div>

    <div class="input-field" style="margin-top:7%;">
      <i class="material-icons prefix">security</i>
      <input id="password" type="password" class="validate col" [(ngModel)]="localUser.password">
      <label for="password">Password</label>
    </div>

      <div  style="margin-top:10%;">
      <button class="waves-effect waves-light btn" (click)="login()" style="width: 48%;">Login</button>
      <button class="waves-effect waves-light btn" (click)="clearvalues()" style="width: 50%;">Clear</button>
      </div>

  </div>

